<form [formGroup]="form" (ngSubmit)="calcularValorArremate()" novalidate>
  <div class="mb-4">
    <div class="card container p-4">
      <h2 class="mb-3">Calculadora de Arremate de Motos</h2>
      <p class="text-muted">
        Preencha os campos abaixo e clique em "Calcular" para obter o valor ideal de arremate.
      </p>

      <div class="row">
        <div class="col">
          <label for="marca" class="form-label">Marca da Moto:</label>
          <select formControlName="marca" class="form-select">
            <option value="comum">Honda, Yamaha, Suzuki, Dafra</option>
            <option value="intermediaria">Royal Enfield, Kawasaki</option>
            <option value="premium">BMW, Ducati, Triumph</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="anoFabricacao" class="form-label mt-2">Ano de Fabricação:</label>
          <input type="number" formControlName="anoFabricacao" class="form-control" placeholder="Ex: 2020"
            [ngClass]="{'is-invalid': form.get('anoFabricacao')?.invalid && form.get('anoFabricacao')?.touched}">
          <div class="invalid-feedback" *ngIf="form.get('anoFabricacao')?.hasError('required')">
            Ano de fabricação é obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="form.get('anoFabricacao')?.hasError('min')">
            Valor mínimo permitido: 1900
          </div>
        </div>

        <div class="col">
          <label for="anoModelo" class="form-label mt-2">Ano do Modelo:</label>
          <input type="number" formControlName="anoModelo" class="form-control" placeholder="Ex: 2021"
            [ngClass]="{'is-invalid': form.get('anoModelo')?.invalid && form.get('anoModelo')?.touched}">
          <div class="invalid-feedback" *ngIf="form.get('anoModelo')?.hasError('required')">
            Ano do modelo é obrigatório
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="seguradora" class="form-label mt-2">Seguradora:</label>
          <select formControlName="seguradora" class="form-select">
            <option value="nenhuma">Outra</option>
            <option value="hdi_ylm">HDI / YLM / INDIANA (R$ 50,00)</option>
            <option value="allianz">ALLIANZ (R$ 80,00)</option>
            <option value="porto">PORTO (R$ 500,00)</option>
          </select>
        </div>

        <div class="col">
          <label for="lote" class="form-label mt-2">Lote:</label>
          <input type="text" formControlName="lote" class="form-control" placeholder="Ex: 00/ABC"
            [ngClass]="{'is-invalid': form.get('lote')?.invalid && form.get('lote')?.touched}">
          <div class="invalid-feedback" *ngIf="form.get('lote')?.hasError('required')">
            Adicione alguma informação
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="sinistro" class="form-label mt-2">Tipo de Sinistro:</label>
          <select formControlName="sinistro" class="form-select">
            <option value="pequena">Pequena Monta</option>
            <option value="media">Média Monta</option>
          </select>
        </div>

        <div class="col">
          <label for="custos" class="form-label mt-2">Reparos Estimados:</label>
          <select formControlName="custosPercentual" class="form-select">
            <option [value]="0.1">Bom estado</option>
            <option [value]="0.2">Reparos moderados</option>
            <option [value]="0.4">Reparos pesados</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="fipe" class="form-label mt-2">Valor FIPE (R$):</label>
          <input type="text" formControlName="fipe" class="form-control" placeholder="Ex: 13.608,00"
            [ngClass]="{'is-invalid': form.get('fipe')?.invalid && form.get('fipe')?.touched}">
          <div class="invalid-feedback" *ngIf="form.get('fipe')?.hasError('required')">
            Valor FIPE é obrigatório.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="seguro" class="form-label mt-2">Valor do Seguro (R$) - Opcional:</label>
          <input type="text" formControlName="seguro" class="form-control" placeholder="Ex: 2.000,00">
        </div>

        <div class="col">
          <label for="multas" class="form-label mt-2">Débitos/Multas Estimadas (R$) - Até 500,00:</label>
          <input type="text" formControlName="multas" class="form-control" placeholder="Ex: 300,00">
        </div>
      </div>

      <button class="btn btn-success mt-3" type="submit">Calcular</button>

      <div class="resultado mt-3" *ngIf="resultado">
        <h3>Faixa ideal de arremate para lote {{ form.value.lote }}:</h3>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item w-100">Mínimo: <strong>{{ valorArremateMin | formatReal }}</strong></li>
          <li class="list-group-item w-100">Máximo: <strong>{{ valorArremateMax | formatReal }}</strong></li>
        </ul>
      </div>
    </div>
  </div>
</form>