<div class="mb-4">
  <ul class="list-group">
    <li class="list-group-item">Taxa do leiloeiro (5% sobre arremate)</li>
    <li class="list-group-item">DSAL - Paraná (R$ 300,00)</li>
    <li class="list-group-item">Taxa de entrega (R$ 100,00)</li>
    <li class="list-group-item">Transferência de propriedade (R$ 130,61)</li>
    <li class="list-group-item">Vistoria veicular (R$ 129,33)</li>
    <li class="list-group-item">Despesa adicional para motos recuperáveis (R$ 386,00)</li>
    <li class="list-group-item">Débitos/Multas (até R$ 500,00, pode haver reembolso)</li>
    <li class="list-group-item">Possível custo de regularização de numeração do motor, câmbio ou
      chassi</li>
  </ul>
  <p class="text-danger mt-3"><strong>Atenção:</strong> Multas acima de R$ 500,00 podem ser
    reembolsadas em até 60 dias mediante comprovante. Regularização de numeração e restrições
    administrativas são de responsabilidade do comprador.</p>
</div>